<div class="admonition admonition-note">
    <div class="admonition-title">
        <div class="admonition-icon">🍝</div>
        Conosci devpasta?
    </div>
    <div class="admonition-content">
        <p>
            Il mondo dello sviluppo software è vasto e variegato. Tra i suoi numerosi rami,
            abbiamo deciso di concentrarci sulla developer experience con il nostro progetto <strong>devpasta</strong>.
            Se vuoi approfondire questo tema e scambiare idee con altri appassionati, unisciti alla nostra community.
            In <strong>devpasta</strong>, esploriamo e miglioriamo insieme il modo in cui i developer interagiscono con la tecnologia.
        </p>
        <div>
            <a href="https://github.com/devpasta" target="_blank" class="social-button" rel="nofollow">
                <img src="https://img.shields.io/badge/devpasta-unisciti%20adesso-silver?logo=github&style=for-the-badge" alt="Accedi alla nostra community">
            </a>
        </div>
    </div>
</div>
