<div class="admonition admonition-note">
    <div class="admonition-title">
        <div class="admonition-icon">📝</div>
        Conosci SWE Spotlight?
    </div>
    <div class="admonition-content">
        <p>
            Se ti appassiona il mondo dell’ingegneria del software, non perdere l’opportunità di rimanere aggiornato!
            Iscriviti alla nostra newsletter, SWE Spotlight, per ricevere contenuti esclusivi e aggiornamenti direttamente nella tua casella di posta.
        </p>
        <p>
            <a href="https://spotlight.yafb.net" target="_blank" class="social-button">
                <img src="https://img.shields.io/badge/SWE%20Spotlight-iscrivi%20adesso-silver?logo=linkedin&style=for-the-badge" alt="Iscriviti alla nostra newsletter">
            </a>
        </p>
    </div>
</div>
