<div class="admonition admonition-note">
    <div class="admonition-title">
        <div class="admonition-icon">📨</div>
        Conosci la nostra newsletter?
    </div>
    <div class="admonition-content">
        <p>
            Se ti appassiona l’ingegneria del software, non perdere l'occasione di rimanere aggiornato!<br/> Iscriviti alla nostra newsletter,
            <strong>SWE Spotlight</strong>, per ricevere contenuti esclusivi e notizie fresche.
        </p>
        <div>
            <a href="https://spotlight.yafb.net" target="_blank" class="social-button" rel="nofollow">
                <img src="https://img.shields.io/badge/SWE%20Spotlight-iscrivi%20adesso-silver?logo=linkedin&style=for-the-badge" alt="Iscriviti alla nostra newsletter">
            </a>
        </div>
    </div>
</div>
