<div class="admonition admonition-important">
    <div class="admonition-title">
        <div class="admonition-icon">🌐</div>
        Ti piacciono questi temi?
    </div>
    <div class="admonition-content">
        <p>
            Aiutaci a migliorare e a raggiungere più persone! Se trovi utile questo articolo,
            condividilo con i tuoi amici e colleghi sui social.
            La tua condivisione ci aiuta a crescere e a portare contenuti di qualità a un pubblico sempre più ampio.
            Grazie mille per il tuo contributo!
        </p>
        <div>


            <a href="https://www.linkedin.com/feed/?shareActive=true&text={{ urlquery $post }}" target="_blank" class="social-button" rel="nofollow">
                <img src="https://img.shields.io/badge/-post%20su%20linkedin-blue?logo=linkedin&style=for-the-badge" alt="Share on LinkedIn">
            </a>

            <!--a href="https://www.linkedin.com/feed/?shareActive=true&text=" target="_blank" class="social-button" rel="nofollow">
                <img src="https://img.shields.io/badge/-black?logo=x&style=for-the-badge" alt="Share on LinkedIn">
            </a-->

            <a href="https://www.linkedin.com/feed/?shareActive=true&text=" target="_blank" class="social-button" rel="nofollow">
                <img src="https://img.shields.io/badge/-post%20su%20facebook-blue?logo=facebook&style=for-the-badge" alt="Share on LinkedIn">
            </a>

        </div>
    </div>
</div>
