<div class="admonition admonition-important">
    <div class="admonition-title">
        <div class="admonition-icon">📢</div>
        Ti incuriosiscono questi argomenti?
    </div>
    <div class="admonition-content">
        <p>Aiutaci a migliorare! Condividi questo articolo sui social:</p>
        <p>Condividi su Facebook | Condividi su Twitter | Condividi su LinkedIn</p>
        <p>
            <a href="https://www.linkedin.com/feed/?shareActive=true&text=" target="_blank" class="social-button">
                <img src="https://img.shields.io/badge/-share%20on%20linkedin-blue?logo=linkedin&style=for-the-badge" alt="Share on LinkedIn">
            </a>

            <a href="https://www.linkedin.com/feed/?shareActive=true&text=" target="_blank" class="social-button">
                <img src="https://img.shields.io/badge/-share%20on%20x-black?logo=x&style=for-the-badge" alt="Share on LinkedIn">
            </a>

            <a href="https://www.linkedin.com/feed/?shareActive=true&text=" target="_blank" class="social-button">
                <img src="https://img.shields.io/badge/-share%20on%20facebook-blue?logo=facebook&style=for-the-badge" alt="Share on LinkedIn">
            </a>

        </p>
    </div>
</div>
